### Import required dependencies

In [ ]:
import pandas as pd
import os

#Using numpy because when I converted 'grade' to integer without numpy it was stored as int32 instead of in64.
import numpy as np

## Deliverable 1: Collect the Data

To collect the data that youâ€™ll need, complete the following steps:

1. Using the Pandas `read_csv` function and the `os` module, import the data from the `new_full_student_data.csv` file, and create a DataFrame called student_df. 

2. Use the head function to confirm that Pandas properly imported the data.

In [ ]:
# Create the path and import the data
full_student_data = os.path.join('Resources/new_full_student_data.csv')
student_df = pd.read_csv(full_student_data)

In [ ]:
# Verify that the data was properly imported
student_df.head()

## Deliverable 2: Prepare the Data

To prepare and clean your data for analysis, complete the following steps:
    
1. Check for and remove all rows with `NaN`, or missing, values in the student DataFrame. 

2. Check for and remove all duplicate rows in the student DataFrame.

3. Use the `str.replace` function to remove the "th" from the grade levels in the grade column.

4. Check data types using the `dtypes` property.

5. Remove the "th" suffix from every value in the grade column using `str` and `replace`.

6. Change the grade colum to the `int` type and verify column types.

7. Use the head (and/or the tail) function to preview the DataFrame.

In [ ]:
# Check for null values
student_df.isna().sum()

In [ ]:
# Drop rows with null values and verify removal
student_df = student_df.dropna()
student_df.isna().sum()

In [ ]:
# Check for duplicated rows
student_df.duplicated().sum()

In [ ]:
# Drop duplicated rows and verify removal
student_df = student_df.drop_duplicates()
student_df.duplicated().sum()

In [ ]:
# Check data types
student_df.dtypes

In [ ]:
# Examine the grade column to understand why it is not an int
student_df['grade']

In [ ]:
# Remove the non-numeric characters and verify the contents of the column
student_df['grade'] = student_df['grade'].str.replace('th','')
student_df['grade']

In [ ]:
# Change the grade column to the int type and verify column types
student_df['grade'] = pd.to_numeric(student_df['grade'])
student_df.dtypes

## Deliverable 3: Summarize the Data

Describe the data using summary statistics on the data as a whole and on individual columns.

1. Generate the summary statistics for each DataFrame by using the `describe` function.

2. Display the mean math score using the `mean` function. 

2. Store the minimum reading score as `min_reading_score`.

In [ ]:
# Display summary statistics for the DataFrame
student_df.describe()

In [ ]:
# Display the mean math score using the mean function
#Call the column "math_score" then find mean
student_df["math_score"].mean()

In [ ]:
# Store the minimum reading score as min_reading_score
min_reading_score = student_df['reading_score'].min()

## Deliverable 4: Drill Down into the Data

Drill down to specific rows, columns, and subsets of the data.

To drill down into the data, complete the following steps:

1. Use `loc` to display the grade column.

2. Use `iloc` to display the first 3 rows and columns 3, 4, and 5.

3. Show the rows for grade nine using `loc`.

4. Store the row with the minimum overall reading score as `min_reading_row` using `loc` and the `min_reading_score` found in Deliverable 3.

5. Find the reading scores for the school and grade from the output of step three using `loc` with multiple conditional statements.

6. Using conditional statements and `loc` or `iloc`, find the mean reading score for all students in grades 11 and 12 combined.

In [ ]:
# Use loc to display the grade column
student_df.loc[:, "grade"]

In [ ]:
# Use `iloc` to display the first 3 rows and columns 3, 4, and 5.
# First section in brackets notates the range of the row, then the second section are the indexes requested in the delivarable. 
# *Note, the deliverable asked for "columns 3, 4, and 5, but the image on the challenge page displayed showed "indexes" 3, 4, and 5.
student_df.iloc[0:3, [3, 4, 5]]

In [ ]:
# Select the rows for grade nine and display their summary statistics using `loc` and `describe`
# (Do not put '9' in quotes after the double equals)
ninth_grade_stats_df = student_df.loc[student_df["grade"] == 9]
ninth_grade_stats_df.describe()

In [ ]:
# Store the row with the minimum overall reading score as `min_reading_row`
# using `loc` and the `min_reading_score` found in Deliverable 3.
min_reading_row = student_df.loc[student_df["reading_score"] == min_reading_score]
min_reading_row

In [ ]:
# Use loc with conditionals to select all reading scores from 10th graders at Dixon High School.


#First: Create dixon high school dataframe using loc.
dixon_high_df = student_df.loc[student_df["school_name"] == "Dixon High School"]

#Second: Create dixon high 10th graders data frame using loc.
dixon_tenth_df = dixon_high_df.loc[dixon_high_df["grade"] == 10]

#Third: Display requested data, using iloc, all rows(:) then 3rd and 4th indexes.
dixon_tenth_df.iloc[:, [3, 4]]

In [ ]:
# Find the mean reading score for all students in grades 11 and 12 combined.
student_df.loc[student_df["grade"] >= 11, "reading_score"].mean()

## Deliverable 5: Make Comparisons Between District and Charter Schools

Compare district vs charter schools for budget, size, and scores.

Make comparisons within your data by completing the following steps:

1. Using the `groupby` and `mean` functions, look at the average reading and math scores per school type.

1. Using the `groupby` and `count` functions, find the total number of students at each school.

2. Using the `groupby` and `mean` functions, find the average budget per grade for each school type.

In [ ]:
# Use groupby and mean to find the average reading and math scores for each school type.
#First aggregate the requested data
avg_scores_by_type = student_df.groupby(["school_type", "grade"]).mean()

#Then display data
avg_scores_by_type.loc[:, ["math_score", "reading_score"]]

In [ ]:
# Use the `groupby`, `count`, and `sort_values` functions to find the
# total number of students at each school and sort from most students to least students.

#First set a variable to hold student name in order to add a new column
count = student_df["student_name"]

#set the new column name
student_df["student_count"] = count

#aggregate the data for count by school
students_by_school = student_df.groupby("school_name").count()

#Create a dataframe to show student count by school
total_students_by_school_df = students_by_school.loc[:, ["student_count"]]

#Sort by count from largest to smallest
total_students_by_school_df.sort_values(by="student_count", ascending=False)

In [ ]:
# Using the groupby and mean functions, find the average budget per grade for each school type.

#First aggregate the requested data
avg_budget_by_school_type = student_df.groupby(["school_type", "grade"]).mean()

#Then display data
avg_budget_by_school_type.loc[:, ["school_budget"]]

# Deliverable 6: Summarize Your Findings
In the cell below, write a few sentences to describe any discoveries you made while performing your analysis along with any additional analysis you believe would be worthwhile.

There are limitations to the dataset used. After the data was collected, there were 2950 "null" 
values found: 1968 in the "reading_score" column and 982 in the "math_score" column. These 
entire rows were removed from the dataframe to better analyze the data. Next, there were 
1836 duplicates found and removed. This possibly could affect the results.

A brief analysis of the charter/public school average scores versus the budgets shows that 
Public schools have a higher budget on average per grade. Additional analysis of the math and 
reading scores and their correlation with the budgets would be worthwhile. Drilling down this
data down to grade, school, or school type and placing it into a line graph with
the budget for the grade, school, school type, etc could be on the y axis while the scores could
be on the x axis and the math scores could be plotted in one color and reading scores could be
plotted in another. These could be actual scores depending on the level of analysis is desire or
they could be averages. The same could be said for the budgets, as long as it is clearly notated.

Knowing the pass or fail criteria could help analyze the data further and a "meets requirements" 
or "needs attention"status could be assigned to each grade, school, school type, etc. This could 
help easier to compare the data side by side and possibly help determine where to obtain more detailed data for the school 
districts to use when developing and executing the budget.